Repository thromel/go-database: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API Package, Storage Package, Integration Tests

Fix gosec installation in CI
  .github/workflows/ci.yml
Due: none

Add page management system with core functionalities
  pkg/storage/page/checksum.go
  pkg/storage/page/manager.go
  pkg/storage/page/manager_test.go
  pkg/storage/page/page.go
  pkg/storage/page/page_test.go
  sprints/sprint-02-storage-engine.md
Due: unittests, Storage Package

Fix CI linting and security issues
  .gitignore
  pkg/storage/page/checksum.go
  pkg/storage/page/manager.go
  pkg/storage/page/manager_test.go
  pkg/storage/page/page.go
  pkg/storage/page/page_test.go
Due: unittests, Storage Package

Fix Go module path mismatch for Go Report Card
  cmd/go-database/main.go
  go.mod
  pkg/api/database.go
  pkg/api/database_impl.go
  pkg/api/database_test.go
  pkg/storage/iterator.go
  pkg/storage/memory.go
  pkg/storage/memory_test.go
  test/integration/database_test.go
  test/performance/benchmark_test.go
  test/utils/testutils.go
Due: unittests, API Package, Storage Package

Add LICENSE and improve package documentation
  LICENSE
  cmd/go-database/main.go
  pkg/storage/engine.go
  pkg/transaction/txn.go
  pkg/utils/errors.go
  test/utils/testutils.go
Due: unittests, Storage Package

Implement B+ Tree indexing and enhance storage engine documentation
  README.md
  pkg/storage/btree/btree.go
  pkg/storage/btree/btree_test.go
  pkg/storage/btree/node.go
  pkg/storage/btree/operations.go
  sprints/sprint-02-storage-engine.md
Due: unittests, Storage Package

Complete B+ Tree underflow handling and add comprehensive tests
  pkg/storage/btree/operations.go
  pkg/storage/btree/underflow_test.go
Due: unittests, Storage Package

Complete B+ Tree underflow handling and add comprehensive tests
  pkg/storage/btree/btree.go
  pkg/storage/btree/btree_test.go
  pkg/storage/btree/node.go
  pkg/storage/btree/operations.go
  pkg/storage/btree/underflow_test.go
Due: unittests, Storage Package

Add comprehensive tests for B+ Tree edge cases and internal node operations
  pkg/storage/btree/btree.go
  pkg/storage/btree/btree_test.go
  pkg/storage/btree/edge_cases_test.go
  pkg/storage/btree/internal_test.go
  pkg/storage/btree/node.go
  pkg/storage/btree/operations.go
  pkg/storage/btree/underflow_test.go
  sprints/sprint-02-storage-engine.md
Due: unittests, Storage Package

Refactor B+ Tree tests for improved readability and consistency
  pkg/storage/btree/edge_cases_test.go
  pkg/storage/btree/internal_test.go
  pkg/storage/btree/node.go
Due: unittests, Storage Package

Add comprehensive tests for storage engine and B+ Tree operations
  pkg/storage/btree/edge_cases_test.go
  pkg/storage/btree/internal_test.go
  pkg/storage/btree/operations_test.go
  pkg/storage/coverage_test.go
  pkg/storage/memory.go
  sprints/sprint-02-storage-engine.md
Due: unittests, Storage Package

Update tests in coverage_test.go to handle errors from Put operations
  pkg/storage/coverage_test.go
Due: none

Update .gitignore and remove obsolete documentation files
  .gitignore
  CLAUDE.md
  README.md
  docs/architecture.md
  docs/research.md
  sprints/README.md
  sprints/sprint-01-foundation.md
  sprints/sprint-02-storage-engine.md
  sprints/sprint-03-persistence-wal.md
  sprints/sprint-04-transaction-management.md
  sprints/sprint-05-concurrency-control.md
  sprints/sprint-06-recovery-system.md
  sprints/sprint-07-query-parser-analyzer.md
  sprints/sprint-08-query-optimizer.md
  sprints/sprint-09-query-executor.md
  sprints/sprint-10-mvcc-time-travel.md
  sprints/sprint-11-adaptive-indexing.md
  sprints/sprint-12-ml-enhanced-optimization.md
  sprints/sprint-13-performance-optimization.md
  sprints/sprint-14-monitoring-observability.md
  sprints/sprint-15-security-deployment.md
Due: none

Add buffer pool implementation and comprehensive tests
  pkg/storage/buffer/buffer.go
  pkg/storage/buffer/buffer_test.go
Due: unittests, Storage Package

Refactor buffer pool tests for improved clarity and efficiency
  pkg/storage/buffer/buffer.go
  pkg/storage/buffer/buffer_test.go
Due: unittests, Storage Package

Add file-based storage implementation with comprehensive tests
  pkg/storage/file/file.go
  pkg/storage/file/file_test.go
  pkg/storage/file/platform.go
Due: unittests, Storage Package

Add persistent storage engine implementation with tests
  pkg/storage/persistent.go
  pkg/storage/persistent_page_manager.go
  pkg/storage/persistent_test.go
Due: unittests, Storage Package

Refactor error handling and formatting in storage components
  pkg/storage/file/file.go
  pkg/storage/persistent.go
  pkg/storage/persistent_page_manager.go
  pkg/storage/persistent_test.go
Due: unittests, Storage Package

Path conditions:
  unittests: any of: pkg/, test/, but not: cmd/, **/*_test.go, test/utils/
  API Package: any of: pkg/api/, but not: cmd/, **/*_test.go, test/utils/
  Storage Package: any of: pkg/storage/, but not: cmd/, **/*_test.go, test/utils/
  Integration Tests: any of: test/integration/, but not: cmd/, **/*_test.go, test/utils/
